@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';

@import './variables';

:root {
  --shadow-card: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  --shadow-card-with-outline: 0px 0px 0px 1px var(--sand-4), var(--shadow-card);

  --transition-speed: 200ms;
  --transitions: color var(--transition-speed),
    border-color var(--transition-speed),
    background-color var(--transition-speed), box-shadow var(--transition-speed),
    opacity var(--transition-speed), transform var(--transition-speed),
    fill var(--transition-speed), outline-color var(--transition-speed),
    width var(--transition-speed), height var(--transition-speed);

  --gap-none: 0;
  --gap-xs: 0.25rem;
  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 2rem;
  --gap-xl: 4rem;
  --gap-2xl: 6rem;
  --gap-3xl: 8rem;

  --header-height: 48px;
  --section-fill-height: calc(100svh - var(--header-height));

  --container-width-xs: 20rem;
  --container-width-s: 30rem;
  --container-width-m: 50rem;
  --container-width-l: 80rem;

  --icon-size-2xs: 0.5rem;
  --icon-size-xs: 0.8rem;
  --icon-size-s: 1.25rem;
  --icon-size-m: 1.75rem;
  --icon-size-l: 2.5rem;
  --icon-size-xl: 3.25rem;

  --text-2xs: 400 10px/1.4 'Mona Sans', sans-serif;
  --text-xs: 400 12px/1.4 'Mona Sans', sans-serif;
  --text-s: 400 14px/1.5 'Mona Sans', sans-serif;
  --text-base: 400 16px/1.5 'Mona Sans', sans-serif;
  --text-l: 500 20px/1.3 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-xl: 500 24px/1.3 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-2xl: 500 30px/1.2 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-3xl: 500 42px/1.15 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-hero-m: 500 56px/1.1 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-hero-l: 500 72px/1 'FK Grotesk', 'Mona Sans', sans-serif;
  --text-hero-xl: 500 100px/1 'FK Grotesk', 'Mona Sans', sans-serif;

  --sand-0: #fff;

  --green-1: #f9fffb;
  --green-2: #f3fcf6;
  --green-3: #e2f9ea;
  --green-4: #cff4dd;
  --green-5: #b8edcd;
  --green-6: #9ae4b9;
  --green-7: #6ed69f;
  --green-8: #00c37a;
  --green-9: #0dce84;
  --green-10: #00c279;
  --green-11: #008349;
  --green-12: #073f26;
  --green-brand: #00ec97;

  --violet-1: #fdfdff;
  --violet-2: #f7f8ff;
  --violet-3: #eff1ff;
  --violet-4: #e4e7ff;
  --violet-5: #d8dbff;
  --violet-6: #c9ccff;
  --violet-7: #b5b7ff;
  --violet-8: #9a9aff;
  --violet-9: #9797ff;
  --violet-10: #8c8cf2;
  --violet-11: #5b56b8;
  --violet-12: #2b226d;
  --violet-brand: #9797ff;

  @media (max-width: $tabletBreakpointMaxWidth) {
    --gap-l: 1.5rem;
    --gap-xl: 2rem;
    --gap-2xl: 4rem;
    --gap-3xl: 6rem;

    --text-l: 700 16px/1.3 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-xl: 700 20px/1.3 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-2xl: 700 24px/1.3 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-3xl: 700 28px/1.2 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-hero-m: 500 36px/1.2 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-hero-l: 500 48px/1.2 'FK Grotesk', 'Mona Sans', sans-serif;
    --text-hero-xl: 500 72px/1.2 'FK Grotesk', 'Mona Sans', sans-serif;
  }

  @media (max-width: $phoneBreakpointMaxWidth) {
    --gap-2xl: 3rem;
    --gap-3xl: 4rem;
  }

  &.dark {
    --sand-0: #0b0b0a;

    --green-1: #0b130f;
    --green-2: #111b15;
    --green-3: #102d1e;
    --green-4: #093c25;
    --green-5: #0d4a2f;
    --green-6: #155939;
    --green-7: #1b6a45;
    --green-8: #1d7e52;
    --green-9: #00ec97;
    --green-10: #00e18d;
    --green-11: #00db87;
    --green-12: #a8f4c8;

    --violet-1: #0f101c;
    --violet-2: #151526;
    --violet-3: #22204b;
    --violet-4: #2c256a;
    --violet-5: #352f7b;
    --violet-6: #3f3a89;
    --violet-7: #4b469d;
    --violet-8: #5a54bb;
    --violet-9: #9797ff;
    --violet-10: #8c8cf2;
    --violet-11: #a8aaff;
    --violet-12: #dddfff;
  }
}
