@import './reset';
@import './theme';

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'FK Grotesk';
  src:
    url('https://discovery-domain.org/fonts/FKGrotesk.woff2')
      format('woff2 supports variations'),
    url('https://discovery-domain.org/fonts/FKGrotesk.woff2')
      format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  color: var(--sand-12);
  font: var(--text-base);
  text-align: left;
  background: var(--sand-1);
}

a {
  text-decoration: none;
  outline: none;
}

#near-wallet-selector-modal {
  --wallet-selector-backdrop-bg: var(--black-a10);

  .open {
    z-index: 10000;
  }
}
