Below is a sentence with many different completions.

--- start of question ---
Subject: {{ challenge_problem.activity_label }}
Sentence: {{ challenge_problem.ctx }}
Completions:
{% for ending in challenge_problem.endings %}
{{ choices[loop.index0] }}. {{ choice }}
{% endfor %}
--- end of question ---

--- start of answer ---
{{answer_text}}
--- end of answer ---

Only output one of the choices {{ choices }}.

Output the choice representing your answer and nothing else.
