---
url: {{url}}
commit: {{commit}}
filepath: {{filepath}}
theorem_name: {{theorem_name}}
theorem: {{theorem_raw}}
begin_marker: {{begin_marker}}
end_marker: {{end_marker}}
---

You are given a theorem formalized in Lean4, and your task is to provide the solution in Lean4 as well. Before you start, you are encouraged to take some time to plan and strategize the proof. It's perfectly acceptable to think through the structure and check if your approach will logically cover all cases. You can use hindsight to review and revise your solution if needed.


## Requirements:

1. The solution should be provided as a list of tactics written in Lean4.
2. Each tactic should be an individual string and the full answer should be formatted as a JSON list.
3. The list should be enclosed between {{begin_marker}} and {{end_marker}} in the following format:

{{begin_marker}}
["tactic1", "tactic2", ...]
{{end_marker}}

4. Be sure each tactic is valid for Lean4, and follow the order in which they should be applied.

## Examples:

theorem and_comm : P ∧ Q → Q ∧ P := by

{{begin_marker}}
["intro ⟨p, q⟩", "exact ⟨q, p⟩"]
{{end_marker}}


theorem or_comm : P ∨ Q → Q ∨ P := by

{{begin_marker}}
["intro pq", "cases pq", "right", "assumption", "left", "assumption"]
{{end_marker}}


theorem simple_math (a b : ℝ) (h : a = b) : a - b = 0 := by

{{begin_marker}}
["rw h", "simp"]
{{end_marker}}


## Problem

Your goal is to prove the following theorem in Lean4:

{{theorem}}

Please respond with your solution using the required format, planning the approach as necessary.
