RUNNER_API_KEY=
DD_API_KEY=
DD_SITE=us3.datadoghq.com
DD_ENV=dev
DD_VERSION=1.0.0
DD_SERVICE=hub-api
DD_APM_ENABLED=true
DD_APM_NON_LOCAL_TRAFFIC=true
DD_LOGS_ENABLED=true
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
DD_HOSTNAME=local-dev