dist/
.vscode/
.idea/
__pycache__/
.nearai/
/nearai/tests/test-agents/
venv
*.env
.mise*
site/
.cache/
.venv/
last_block_id.txt
.DS_Store
build-info.txt
nearai/ts_runner/build
**/.pnpm-store/*
api.log
api.pid
scheduler.log
scheduler.pid
