[tool.poetry]
name = "jasnah"
version = "0.1.0"
description = ""
authors = ["Marcelo Fornet <mfornet94@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
fire = "^0.6.0"
flask = "^3.0.3"
boto3 = "^1.34.100"
boto3-stubs = "^1.34.100"
datasets = "^2.19.1"
transformers = "^4.40.2"
peft = "^0.10.0"
torch = "^2.3.0"
fabric = "^3.2.2"
gunicorn = "^22.0.0"
requests = "^2.31.0"
pymysql = "^1.1.0"
setuptools = "^69.5.1"

[tool.poetry.scripts]
jasnah-cli = "jasnah.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
