[tool.poetry]
name = "nearai"
version = "0.1.0"
description = ""
authors = ["Marcelo Fornet <mfornet94@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
fire = "^0.6.0"
flask = "^3.0.3"
boto3 = "^1.34.100"
datasets = "^2.20.0"
transformers = "^4.40.2"
peft = "^0.10.0"
torch = "^2.2.2"
fabric = "^3.2.2"
gunicorn = "^22.0.0"
requests = "^2.31.0"
pymysql = "^1.1.0"
setuptools = "^69.5.1"
backoff = "^2.2.1"
tabulate = "^0.9.0"
tqdm = "^4.66.4"
pydantic = "^2.7.1"
openai = "^1.30.1"
jinja2 = "^3.1.4"
litellm = "^1.41.0"
tenacity = "^8.2.3"
torchtune = "^0.2.0"
torchao = "^0.3.1"
tensorboardX = "^2.6.2.2"
vllm = "^0.5.3"
fastapi = "^0.111.0"
fastapi-cli = "^0.0.4"
python-dotenv = "^1.0.1"
pydantic-core = "^2.18.4"
base58 = "2.1.1"
mypy-boto3 = "^1.34.147"
mypy-boto3-s3 = "^1.34.138"
boto3-stubs = "^1.34.147"
pandas-stubs = "^2.2.2.240603"
types-pyyaml = "^6.0.12.20240724"
types-pygments = "^2.18.0.20240506"
types-cffi = "^1.16.0.20240331"
types-colorama = "^0.4.15.20240311"
types-psutil = "^6.0.0.20240621"
types-redis = "^4.6.0.20240425"
types-regex = "^2024.5.15.20240519"
types-ujson = "^5.10.0.20240515"
types-setuptools = "^71.1.0.20240724"

[tool.poetry.group.dev.dependencies]
mypy = "^1.11.0"
ruff = "^0.5.2"

[tool.poetry.scripts]
nearai = "nearai.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
src = ["nearai"]
exclude = [
    ".git",
    ".git-rewrite",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".ruff_cache",
    ".venv",
    ".vscode",
    "__pypackages__",
    "venv",
]
extend-exclude = ["tests", "hub", "projects", "examples"]
line-length = 120
indent-width = 4

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "N",  # PEP8 naming conventions
    "D"   # pydocstyle
]
ignore = [
    "C901",  # too complex
    "C408",  # dict() constructor
    "C417",  # enforce list comprehension
    "W191",  # indentation contains tabs
    "D401",  # imperative mood
    "D100",  # Missing docstring module
    "D101",  # Missing docstring in public class
    "D103",  # Missing docstring in public function
    "D104",  # Missing docstring in public package
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.mypy]
strict = false
exclude = [
    "tests",
    "venv",
    ".venv",
    ".vscode",
    ".git",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".ruff_cache",
    "__pypackages__",
]

[[tool.mypy.overrides]]
module = ['datasets.*', 'fire.*', 'tqdm.*', 'fabric.*', 'tabulate.*', 'requests.*', 'tensorboardX.*', 'pymysql.*', 'torchtune.*', 'torchao.*']
ignore_missing_imports = true
