[Unit]
Description=NEAR AI Supervisor
After=network.target

[Service]
User=setup
Type=simple
Restart=no
WorkingDirectory=/home/setup/.nearai/nearai
EnvironmentFile=/home/setup/.nearai/nearai/etc/supervisor.env
ExecStart=/home/setup/.nearai/nearai/etc/start_supervisor.sh
LimitMEMLOCK=infinity
LimitRSS=infinity

[Install]
WantedBy=multi-user.target
