.navigation {
  position: sticky;
  z-index: 500;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--sand-0);
  display: flex;
  align-items: stretch;
  padding: 0 var(--gap-m);
  box-shadow: 0 1px 0 var(--sand-4);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font: var(--text-l);
  color: var(--sand-12);
  transition: var(--transitions);
  outline: none;
  white-space: nowrap;
  margin-right: auto;

  &:hover,
  &:focus-visible {
    color: var(--violet-9);
  }
}

.item {
  display: flex;
  align-items: center;
  font: var(--text-s);
  font-weight: 600;
  text-decoration: none;
  color: var(--sand-12);
  transition: var(--transitions);
  border-radius: 100px;
  height: 32px;
  padding: 0 16px;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--violet-9);
  }

  &[data-active='true'] {
    background: var(--sand-4);
  }
}

.breakpoint {
  display: flex;
  align-items: stretch;
}
