ROUTER_URL=https://api.near.ai/v1
# If running Hub locally, use the following URL
# ROUTER_URL=http://127.0.0.1:8081/v1
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# When running locally the UI can load agents that are below a local directory
#DATA_SOURCE=local_files